files:
  /etc/pki/tls/certs/server.crt:
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFoTCCBImgAwIBAgISA0WUJbern3xFEyyR6s52+dUkMA0GCSqGSIb3DQEBCwUA
        MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
        ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDA2MzAwODUwMjhaFw0y
        MDA5MjgwODUwMjhaMEAxPjA8BgNVBAMTNXJsc2JhY2tlbmRwcm9kdWN0aW9uLTEu
        ZXUtd2VzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMIIBIjANBgkqhkiG9w0BAQEF
        AAOCAQ8AMIIBCgKCAQEAqSRWW+HSbs/C3o/bAcHelsKGx8jM5g0cqUDVCkV4ewaX
        35Z7iU3Bc9NF949R/9/oxSPKFa7wOiJ6Zy0HY4+MJa3diTFCjhwVwJMHbO/DJ+tC
        zBGtodeTYRHEDNfpR0oLSpCOMBl3/fMmhrBUsFiitVwh5Z5TJzcMjB7Ym8mIq6/7
        ynwWf2zpH/s80c2MlEoz2Rcb4QSqLakdoA+7c+GHeg46rnZB5T/CB8Opbix0n4JK
        fopa/YgiVptFN3HQefmpFua8R8AJecWlT6JlvhkS/D9K1mozKqsSb+vxTQWOCS+g
        qkNyGfdvGw/shRomp8Rbw83QmPyZgYvF0aHOJ9CftwIDAQABo4ICiTCCAoUwDgYD
        VR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNV
        HRMBAf8EAjAAMB0GA1UdDgQWBBQ6r6hbLxGRc+su1jO8tmnOuCJnrjAfBgNVHSME
        GDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEFBQcBAQRjMGEwLgYIKwYB
        BQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5jcnlwdC5vcmcwLwYIKwYB
        BQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5jcnlwdC5vcmcvMEAGA1Ud
        EQQ5MDeCNXJsc2JhY2tlbmRwcm9kdWN0aW9uLTEuZXUtd2VzdC0xLmVsYXN0aWNi
        ZWFuc3RhbGsuY29tMEwGA1UdIARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEB
        MCgwJgYIKwYBBQUHAgEWGmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIBAwYK
        KwYBBAHWeQIEAgSB9ASB8QDvAHYA8JWkWfIA0YJAEC0vk4iOrUv+HUfjmeHQNKaw
        qKqOsnMAAAFzBKKNSwAABAMARzBFAiBZwDoHO0PMmIAJbOMyJiQ38nv/du2khyHv
        71aKjLCxYwIhAPmrTFD6gl8FMxw3e9xeZGma53LaTCzJu2q8Le17OC7HAHUAB7dc
        G+V9aP/xsMYdIxXHuuZXfFeUt2ruvGE6GmnTohwAAAFzBKKNogAABAMARjBEAiB9
        bZoXD2HWVF9HJNij2ZQv57AcxGQCZHcU2oqZWPGb0gIgF9yNBWXd5TIypibpcLFk
        lQkGmh7v3ZktQFLaywQZHGQwDQYJKoZIhvcNAQELBQADggEBAGBGp7I60vngFxd2
        ViaxuU6TWimeeBtXrAHgd5ivxJ34jTFQq9SVsltNX8HvVlN/NLBiLH7I6zyu4gV0
        LTMwDqsgDAGXEGW/OQwxA2uHGhCwQinwuFUfW5geYXTrMq4sIxYBc9PaJicCku0G
        phAPPYdd4XarYVTaF+yFpcSAnFXalyVpnzjqK7uJJb3C3iqyUnl+pJTEWhJT/8JU
        R4RCzei/GzE3f6TqPO4rfxqNgDhmmuXk6Hgz6HR1vS9mPtZaiuXjQeDavmDtGnYO
        VLJVEFnBpYjNSwY1oEV7SXpaJIrcKcoj4i2ycmjEp5Jk4MdOog1+534D1CABdiXs
        FXcf4NM=
        -----END CERTIFICATE-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"
