files:
  /etc/pki/tls/certs/server.crt:
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFnjCCBIagAwIBAgISA6J/j8ZqfLDLbaWv9tctyrKCMA0GCSqGSIb3DQEBCwUA
        MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
        ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDA2MTUwOTQ3NTVaFw0y
        MDA5MTMwOTQ3NTVaMD4xPDA6BgNVBAMTM3Jsc2JhY2tlbmR0ZXN0LWVudi0yLmV1
        LXdlc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTCCASIwDQYJKoZIhvcNAQEBBQAD
        ggEPADCCAQoCggEBALcE7K/YXlhGnRiSbdYSv5LsgUDCihzomIRhz3ifXfxQzSYr
        3NG1yqrTKX2hE/+Ey8MmbuoVT+UrjQA9Z/K3rXb+Uot9Dy6aZLF0W2ChaIev0pG0
        YgpgcfNZn0piJpMGsT6O6Lzr67U3gNXazntMtMGn3KsaNW08RCGFuJ2Ccb0KCefj
        yUMtbExmcIgqlmDryfLhfHgqxds22pZ5/X+dZd4hwQ9cKLDH9nIXkOGXl3Hn/tPm
        dWt3KNZ762i+GpF3qnVsFeaSHFDBhwtYY0TpnPcmhRcg9KQB5jYARru9gC0JjPKq
        pp59OxzrOWBKz0AtIbgOdBOrvo+k6nxBj3Vdm1ECAwEAAaOCAogwggKEMA4GA1Ud
        DwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDAYDVR0T
        AQH/BAIwADAdBgNVHQ4EFgQUSJJ5lzFdkd/FXW9NHPKauSjiv8YwHwYDVR0jBBgw
        FoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUHAQEEYzBhMC4GCCsGAQUF
        BzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5cHQub3JnMC8GCCsGAQUF
        BzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5cHQub3JnLzA+BgNVHREE
        NzA1gjNybHNiYWNrZW5kdGVzdC1lbnYtMi5ldS13ZXN0LTEuZWxhc3RpY2JlYW5z
        dGFsay5jb20wTAYDVR0gBEUwQzAIBgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAm
        BggrBgEFBQcCARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEEBgorBgEE
        AdZ5AgQCBIH1BIHyAPAAdwDnEvKwN34aYvuOyQxhhPHqezfLVh0RJlvz4PNL8kFU
        bgAAAXK3l8B0AAAEAwBIMEYCIQCwRKdr0kTxCVE0H044kXBVBvwpd/HNRnWmh2HO
        8pMxhwIhAIXATKJz8f/7WE40pf5jfFrvcKm14rslQ+e0MZWr/s11AHUAB7dcG+V9
        aP/xsMYdIxXHuuZXfFeUt2ruvGE6GmnTohwAAAFyt5fApAAABAMARjBEAiAJORtC
        no6Q6QQICOxSG+6QChwL+Gc5wCT76mX+lNW4owIgZFdtGM78HK+NF7RT5auYX3Vv
        uhOxGeVwULMypR/9kMAwDQYJKoZIhvcNAQELBQADggEBACuLnpcg+hSYPD0KBMAb
        sz2ZtWMO4OYDdTw/CpiEOBpKC7k/Ah1urYeaBWTVHfWyZRO12/axXyW5nXomNqPg
        tQgEqSyh1YhiDGGaoqtoUrpPWSXdX4f8u4SlbQjy4xdqw1LIRg6806q8xVEjXhag
        +hwROtZi5e5pUQ61gUis83onhIbsrJWXnNiIUIl6DAnzrCpJ9hXCd8C0dtXIUhsU
        pAW+dbuf6TuZERxGq8SWl8uwu1+WE7FYCuuKfe/Cq3vfmSYdC/DcKuhgrB7T22Yk
        nzRH0j5rWjtfNvCCPS6ZRd+QvISrsKTKYG0QAma/Y3MDf5iMxdy5I/G5s2sPKUmv
        O0s=
        -----END CERTIFICATE-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"
