files:
  /etc/pki/tls/certs/server.crt:
    content: |
        -----BEGIN CERTIFICATE-----
        MIIDhDCCAmwCCQDc/A+PfWIrHzANBgkqhkiG9w0BAQsFADCBgzELMAkGA1UEBhMC
        TkwxEDAOBgNVBAgMB1V0cmVjaHQxETAPBgNVBAcMCFV0cmVjaHQgMQwwCgYDVQQK
        DANSTFMxDDAKBgNVBAsMA1JMUzEzMDEGA1UEAwwqaXAtMTcyLTMxLTAtMjUxLmV1
        LXdlc3QtMS5jb21wdXRlLmludGVybmFsMB4XDTIwMDYwMzA4MTAzN1oXDTIxMDYw
        MzA4MTAzN1owgYMxCzAJBgNVBAYTAk5MMRAwDgYDVQQIDAdVdHJlY2h0MREwDwYD
        VQQHDAhVdHJlY2h0IDEMMAoGA1UECgwDUkxTMQwwCgYDVQQLDANSTFMxMzAxBgNV
        BAMMKmlwLTE3Mi0zMS0wLTI1MS5ldS13ZXN0LTEuY29tcHV0ZS5pbnRlcm5hbDCC
        ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANslk9RytOl+BwXUBrRqror0
        J7FaXMMBNg4nAy+dN/loQYKRyp3Xm35wEOMyxMjjEMo69zQll2g98dRplrYriJIC
        mHcKbGWg5OqMeqMqc/xcr2BcX2HpuHwl/FnVG8QlVYeyIefZe5GjfdvO9FDIksjf
        26qQ505AGwS5JSld/yFwQKZ4bPH7TiFZ826vP6+QBwiooJ8XHz8qIUB2KN/L5CAN
        KP7PW8f8JqL0lxYW6NVVrrM0SiiUrKgfjkxXYylVRngqcSQBdAhXG3Dh+MUOn1Y8
        plXTT/aGbp1yuTMLnXAeyPvsWFpNf7uocw802qMO5RaByKKJ6OXef/9qY7N9B9sC
        AwEAATANBgkqhkiG9w0BAQsFAAOCAQEAz/SRhCc8nZXWktUY09o5sQDlN5o8j292
        eg/UjiuuIpKH7tTDkqctvdbN/M5Ludkgmf5pnli9bd8XCe4lprqumDc4gpov83VP
        yYDXl6KinXxajughdv7crpUZJgTyCJaIEp5qeTxC9Wjlvi1/3wxJzDzxcdHwkijS
        7cZQnMwEjKY9mx3QRI/43H7Xc786f99CS+tbQr8DHOmfDIRvvYYVJKVOcFhJRDNd
        DUexJax+rd9AgDfoKTAAm2YdnnY1Lb2SSk68RNRie8zlMCB6rcw2LCnu0lTXK4bN
        TYM6dwTHFht37EKwY2AUZ8jB/sv/S51HYBdnRQIfWZqRtnMI8bLxwg==
        -----END CERTIFICATE-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
