files:
  /etc/pki/tls/certs/server.crt:
    content: |
        -----BEGIN CERTIFICATE-----
        MIID3zCCAsegAwIBAgIUXKiO8yRFHwIwpV/y3bmcOQBjDGswDQYJKoZIhvcNAQEL
        BQAwfzELMAkGA1UEBhMCTkwxEDAOBgNVBAgMB1V0cmVjaHQxEDAOBgNVBAcMB1V0
        cmVjaHQxGDAWBgNVBAoMD1JhaWxsaW5rU3lzdGVtczEYMBYGA1UECwwPUmFpbGxp
        bmtTeXN0ZW1zMRgwFgYDVQQDDA9SYWlsbGlua1N5c3RlbXMwHhcNMjAwNjEwMDk0
        NjI4WhcNMjEwNjEwMDk0NjI4WjB/MQswCQYDVQQGEwJOTDEQMA4GA1UECAwHVXRy
        ZWNodDEQMA4GA1UEBwwHVXRyZWNodDEYMBYGA1UECgwPUmFpbGxpbmtTeXN0ZW1z
        MRgwFgYDVQQLDA9SYWlsbGlua1N5c3RlbXMxGDAWBgNVBAMMD1JhaWxsaW5rU3lz
        dGVtczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOOlihV9j9SWV12+
        HEXeI8C/6wvEP7kffQiqrS6R925AtETrIsfzVJQJIFnO06Tu5cNwpH+UU0jNQ9LS
        a53l33WkWUAYopTkL1YNsL0FsU0og48yJsaYWqvSEhhA1MrRiUhF2wkmuOwoSlSP
        qVD7F9PPMOB1Tlxgih4n5QhMQw1/PfCPos786lSsSUm33fZ21UqzZ7Ch1fSUvXjf
        TwkRM2HOMEJVGX5ySwZbTDQhYj/10DxFnA523D3C6d1uvrT/OovOPUEidgvRMio1
        qCXJVvtEcD9URMOZk9pv/M3qOZcx+/uywRtbZN86OdHzWc9DzJKf7YxX7h/nhXdy
        AdeU5eMCAwEAAaNTMFEwHQYDVR0OBBYEFD7G/mLGMwMtrmMPTanTkwwz8bWJMB8G
        A1UdIwQYMBaAFD7G/mLGMwMtrmMPTanTkwwz8bWJMA8GA1UdEwEB/wQFMAMBAf8w
        DQYJKoZIhvcNAQELBQADggEBAJwcqpfeSIVuOPkDaPw73FiJbNlnOl6sAdxPYXc9
        7H7lLSyNgZC8ppGUeOlYSJKKkLowSy4ngI2tGvY8zO0eYiwl1F1zdiNeZW7CbiDU
        Ovn1pKwSXNM9Wy2ViokBJrHdU6PDY/DiyOJzYidWMhM1aOKz1Orr6fIFJfB8+tBT
        ulMk3D9/eoZY3J/DEclKaTLxoUchMtbhe1D3cuUhWSKpwGlm9XI4n+pRhoGQl52r
        1YpcRhcn0F2lcEXRhA6Z9Etzi5gfWN702m7SpsA2GtD3OT9Lone6vnEPuBc80yJn
        cOh8QfZcPbolOf3URhnjvi8AtG+HpYyWw0yjD+rpNPSFyGM=
        -----END CERTIFICATE-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"
